<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Vendors</title>
</head>
<body>
    <h1>All Vendors listed here</h1>
    <a href="/vendors/new">Add Vendor</a>
    <ul>
        <% vendors.forEach(vendor => { %>
            <li><a href="/vendors/<%= vendor.name %>"> <%= vendor.name %></a></li>
        <% }); %>
    </ul>
</body>
</html>