<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vendors</title>
</head>
<body>
    <h1>Add a new vendor</h1>
    <form action="/vendors" method="POST">

        <label for="name">Name: </label>
        <input type="text" name="name" id="name"/>

        <label for="isActivelyBlocking">Still blocking?</label>
        <input type="checkbox" name="isActivelyBlocking" id="isActivelyBlocking" />

        <button type="submit">Add Vendor!</button>

    </form>
    <a href="/vendors">Back to All Vendors</a>
</body>
</html>